<div>
<h2>Store Product</h2>
<form [formGroup]="productRef" (ngSubmit)="storeProduct()">
    <label>PId</label>
    <input type="text" formControlName="id"/><br/>
    <label>PName</label>
    <input type="text" formControlName="name"/><br/>
    <label>Price</label>
    <input type="number" formControlName="price"/><br/>
    <input type="submit" value="Store Product"/>
    <input type="reset" value="Reset"/>
</form>
<span style="color:red">{{msg}}</span>
<hr/>
    <h2>All Products </h2>
    <table border="1">
            <tr>
                <th>PId</th>
                <th>PName</th>
                <th>Price</th>
            </tr>
            <tr *ngFor="let product of products">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
            </tr>
    </table>
</div>